body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
}

nav{
  display: inline;
  background-color: #dddddd;
}

.active {
  background-color: #04AA6D;
}
